body {
    font-family: sans-serif;
    background-color: #f5f5f5;
    margin: 0;
}
    
h1, h2 {
    text-align: center;
    color: #f5f5f5;
    
}
.section {
    background-color: aqua;
}
p {
    color: #f5f5f5;
    
}
img{
    height: 350px;
    
}
.container p{
     display: flex;
    justify-content: space-between;
    padding: 40px;
}
a {
    margin: 40px;
}
ul {
    list-style-type: circle;
    margin: 0;
    padding: 10px;
  }
  
  